<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{ settings.APP_NAME }} {{ settings.APP_VERSION }}</title>
	
	</head>
	<body>
		<h1>Perfiles</h1>
		{% if perfiles %}
		<h1>Lista de Perfiles</h1>
			<ul>
			{% for m in perfiles %}
			<li>{{ m.nombre }}</li>
			{% endfor %}
			</ul>
			% else %}
				<h1>No hay Perfiles...</h1>
			{% endif %}
			
	
	</body>
</html>
