<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{{ settings.APP_NAME }} {{ settings.APP_VERSION }}</title>
	
	</head>
	<body>
		<p><a href="/Perfiles/">Perfiles</a></p>
		<h1>Hola!</h1>
	</body>
	
</html>
