{% extends "base.html" %}

{% load static %}

{% block content %}
<p></p>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card text-center">
            <div class="card-header"><h1>Pasteleria Dany Dan</h1></div>
            <div class="card-body">
                <p></p>
                <!-- responsive image con img-fluid https://getbootstrap.com/docs/5.0/content/images/ -->
                <img class="img-fluid" src="{% static 'pagina/media/panaderia.png' %}" alt="DanyDan">
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}

